{% extends 'home.html' %}

{% block contact %}
<h1 class="t-center my-2 t-white f-2">Contact Me</h1>
      {% block content %}
      {% endblock %}
      <div class="contact-container flex s-around items-center">
        <div class="form" id="contactForm">
          <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            
            <div class="form-div">
              <input
                type="text"
                name="name"
                class="poppins"
                placeholder="Enter Your Name"
                required
              />
            </div>
            <div class="form-div">
              <input
                type="email"
                name="email"
                class="poppins"
                placeholder="Enter Your Email"
                required
              />
            </div>
            <div class="form-div">
              <input
                type="tel"
                name="phone"
                class="poppins"
                placeholder="Enter Your Phone"
                required
              />
            </div>
            <div class="form-div">
              <textarea
                name="message"
                cols="30"
                rows="10"
                class="poppins"
                placeholder="Enter Message"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
{% endblock %}