# Ignore node_modules folder
node_modules/

# Ignore build and dist folders
build/
dist/

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore log files
*.log
logs/

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db